DJANGO_SETTINGS_MODULE=techmarketAPI.prod_settings
DATABASE_URL=<URL>
DEBUG=<True|False>
DJANGO_SECRET_KEY=<KEY|random_str>
ALLOWED_HOSTS=<host,host1,.suffix,.suffix1>
STRIPE_PRIVATE_KEY=<KEY>
STRIPE_WEBHOOK_KEY=<KEY>
