django
djangorestframework
pillow
django-cors-headers
django-debug-toolbar
gunicorn
psycopg2-binary
dj-database-url
whitenoise
webcolors==25.10.0
drf-spectacular
stripe
django-countries
user-agents
requests
django-ipware
