@mixin poppins-300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@mixin poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@mixin poppins-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@mixin poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@mixin poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@mixin hoverForLinks {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}