@import "../../globalStyles.scss";

.starRating {
  display: inline-flex;
  align-items: center;
  margin-bottom: 18px;

  &__wrapper {
    position: relative;
    display: inline-flex;
    white-space: nowrap;
  }

  &__bg {
    color: #cacdd8;
    display: flex;
    gap: 2px;
  }

  &__foreground {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    color: #e9a426;
    pointer-events: none;
    gap: 2px;
  }
}
