@import "../../globalStyles.scss";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  transform: translateX(-300%);
  transition: transform 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  &__top {
    padding-block: 21px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cacdd8;
  }

  &__nav {
    height: 100vh;
    padding-inline: 15px;
  }

  &__list {
    margin: 13px 0;
  }

  &.menuOpen {
    transform: translateY(0);
  }

  &__listItem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__listLink {
    font-size: 13px;
    line-height: 34px;
    color: #000000;
    @include poppins-400;
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url("/icons/link-arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__signIn {
    padding: 8px 50px;
    border: 2px solid #0156ff;
    border-radius: 50px;
    font-size: 13px;
    line-height: 20px;
    color: #0156ff;
    @include poppins-600;
  }
}

.isActiveLink {
  color: #0156ff;
}
