@import "../../globalStyles.scss";

.zipBlock {
  padding-bottom: 14px;
  &__inner {
    background-color: #f5f7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  &__logo {
    margin-right: 12px;
  }

  &__text {
    @include poppins-400;
    font-size: 18px;
    line-height: 120.5%;
    color: #272560;
    padding-left: 15px;
    position: relative;

    & span {
      @include poppins-600;
    }

    &::after {
      content: "";
      position: absolute;
      height: 23px;
      width: 2px;
      background-color: #00aeb8;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__link {
    @include poppins-400;
    font-size: 14px;
    line-height: 120.5%;
    color: #272560;
    text-decoration: underline;
  }
}
