@import "../../globalStyles.scss";

.monitorList {
  padding-bottom: 80px;

  &__title {
    @include poppins-600;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 25px;
  }

  &__errorMessage {
    @include poppins-400;
    font-size: 18px;
    line-height: 120.5%;
    color: #000;
  }
}
