@import "../../globalStyles.scss";

.footer {
  background-color: #020203;

  &__inner {
    @include onTablet() {
      max-width: 639px;
      width: 100%;
      margin: 0 auto;
    }

    @include onPhone() {
      max-width: 329;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__top {
    padding: 47px 0 36px 0;
  }

  &__topTitleBlock {
    margin-bottom: 45px;

    @include onTablet() {
      margin-bottom: 15px;
    }

    @include onPhone() {
      margin-bottom: 15px;
      text-align: center;
    }
  }

  &__topTitle {
    @include poppins-500;
    font-size: 38px;
    line-height: 132.5%;
    color: #ffffff;
    margin-bottom: 9px;

    @include onTablet() {
      font-size: 18px;
      line-height: 132.5%;
      margin-bottom: 5px;
    }

    @include onPhone() {
      font-size: 18px;
      line-height: 132.5%;
      margin-bottom: 5px;
    }
  }

  &__topText {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    @include poppins-300;

    @include onTablet() {
      font-size: 12px;
      line-height: 132.5%;
    }

    @include onPhone() {
      font-size: 12px;
      line-height: 132.5%;
    }
  }

  &__topNavDesk {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__topNav {
    display: flex;
    justify-content: space-between;

    & li span {
      @include poppins-400;
      font-size: 13px;
      line-height: 140%;
      color: #ffffff;
    }
  }

  &__topNavDesk {
    @include onTablet() {
      display: none;
    }

    @include onPhone() {
      display: none;
    }
  }

  &__topNavAccordion {
    display: none;

    @include onTablet() {
      display: block;
      width: 100%;
      padding-left: 25px;
    }

    @include onPhone() {
      display: block;
      width: 100%;
    }
  }

  &__topNavListItem {
    @include onTablet() {
      margin-left: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__topNavItemWrapper {
    border-bottom: 1px solid #a2a6b0;
  }

  &__topNavTitle {
    @include poppins-700;
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;

    @include onTablet() {
      margin-bottom: 0;
      padding-block: 11px;
      font-size: 11px;
      color: #e5ecf1;
    }

    @include onPhone() {
      margin-bottom: 0;
      padding-block: 11px;
      font-size: 11px;
      color: #e5ecf1;
    }
  }

  &__topNavLink,
  &__topNavText {
    @include poppins-400;
    font-size: 13px;
    line-height: 140%;
    color: #ffffff;

    @include onTablet() {
      font-size: 12px;
      line-height: 170%;
      color: #ffffff;
    }

    @include onPhone() {
      font-size: 12px;
      line-height: 170%;
      color: #ffffff;
    }
  }

  &__topNavLink {
    @include hoverForLinks;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 17px 0;

    @include onTablet() {
      border-top: none;
    }

    @include onPhone() {
      border-top: none;
      flex-direction: column;
      gap: 15px;
      padding: 15px 0 35px 0;
    }
  }

  &__topNavLinkPhone,
  &__topNavLinkEmail {
    color: #01a4ff;
  }

  &__bottomSocials {
    display: flex;
    align-items: center;
  }

  &__bottomFacebook {
    margin-right: 11px;
    opacity: 0.2;
    padding: 2px;
    @include hoverForLinks;
  }

  &__bottomInst {
    opacity: 0.2;
    padding: 2px;
    @include hoverForLinks;
  }

  &__bottomPaymants {
    display: flex;
    align-items: center;

    & li:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__bottomCopyright {
    @include poppins-500;
    font-size: 12px;
    line-height: 132.5%;
    color: #ffffff;
    opacity: 0.6;
  }
}
