@import "../../globalStyles.scss";

.newProducts {
  padding-block: 37px 18px;

  @include onPhone() {
    padding-block: 19px 13px;
  }

  &__title {
    @include poppins-600;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 13px;
  }

  &__errorMessage {
    @include poppins-400;
    font-size: 18px;
    line-height: 120.5%;
    color: #000;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #666666;
    opacity: 0.2;
    width: 36px;
    height: 48px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include onTablet() {
      display: none;
    }

    @include onPhone() {
      display: none;
    }
  }

  &__btnPrev {
    border-radius: 0 30px 30px 0;
    left: 0;
  }

  &__btnNext {
    border-radius: 30px 0 0 30px;
    right: 0;

    & img {
      transform: rotate(180deg);
    }
  }
}
